/* Estilizando a página */

body {
    background-color: #333333;
    text-align: center;
}

.logo, .main {
    width: 620px;
    align-items: center;
    margin: 20px auto;
}

.proj1, .proj2, .proj3 {
    color: yellow;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 20px;
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    font-size: 18px;
    color: #88100f;
    font-weight: normal;
    text-align: center;
}

h3 {
    font-size: 16px;
    color:  #88100f;
    text-decoration: underline;
}

p {
    font-size: 14px;
    line-height: 28px;
}
