/* Estilizando a página */

h1 {
    font-size: 48px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
    text-align: center;
}

h2 {
    font-size: 35px;
    color: blue;
}

h3 {
    font-size: 28px;
    color: blue;
}

p {
    font-size: 20px;
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5em;
}

a {
    text-decoration: none;
}

a:hover {
    font-weight: bold;
    text-decoration: none;
}