/* Estilizando a página */

div {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.anim {
    border: 0;
    width: 100px;
    height: 100px;
    background-color: red;
    animation: bordas 2s linear infinite alternate;
    margin: 10px auto;
}

@keyframes bordas {
    from {
        border-radius: 0px 40px;
        background-color: red;
    }
    to {
        border-radius: 40px 0px;
        background-color: blue;
    }
}



h1 {
    font-size: 22px;
    text-align: center;
}

h2 {
    font-size: 18px;
    color: #88100f;
    font-weight: normal;
    text-align: center;
}

h3 {
    font-size: 16px;
    color:  #88100f;
    text-decoration: underline;
}

p {
    font-size: 14px;
    line-height: 28px;
}
