/* ---------------------------------------------------------------------------------------------------- */
/* MODELO DE ORGANIZAÇÃO DO CSS */

/* selector { */

/* 0 SASS INHERITANCE*/
/* @extend, @mixin, e.g. clearfix */

/* 1 GENERATED CONTENT */
/* content */

/* 2 POSITION AND LAYOUT */
/* positiony, z-index, top, bottom, left, right, Flexbox properties, float, clear */

/* 3 DISPLAY AND VISIBILITY */
/* display, opacity, transform */

/* 4 CLIPPING */
/* overflow, clip  */

/* 5 ANIMATION */
/* animation, transition */

/* 6 BOX MODEL (FROM OUTSIDE IN) */
/* margin, box-shadow, border, border-radius, box-sizing, width, height, padding */

/* 7 BACKGROUND */
/* background, cursor */

/* 8 TYPOGRAPHY */
/* font-size, line-height, font-family, font-weight, font-style, text-align, text-transform, word-spacing, color */

/* 9 PSEUDO-CLASSES & PSEUDO-ELEMENTS (NESTED RULES) */
/* :hover, :focus, :active, :before, :after, :first-child, :last-child */

/* } */
/* ---------------------------------------------------------------------------------------------------- */

/* ================================================== */
/*                        GERAL                       */
/* ================================================== */

* {
    /* 6 BOX MODEL (FROM OUTSIDE IN) */
    margin: 0;
    padding: 0;

     /* 8 TYPOGRAPHY */
    font-family: sans-serif, Arial, Helvetica;
}

.container {
    /* 6 BOX MODEL (FROM OUTSIDE IN) */
    box-sizing: border-box;
}

/* ================================================== */
/*                     HOME - TOPO                    */
/* ================================================== */
